/.settings/
/.project
/.idea
.DS_Store
.vscode/
.gradle
/build/
/**/build/
/out/
/generated/
/logs/
/**/logs/
/venv/
/**/venv/
/node_modules/
/**/node_modules/
/**/env-**/
/__pycache__/
/**/__pycache__/